/**
 * Brand colors
 */

$brand-primary: #2196F3;
$brand-secondary: #ef6c00;
$brand-badges:rgb(225, 0, 80);

/**
 * Backdround colors
 */
$app-background-color: #fafafa;
$app-bar-blue-background-color: $brand-primary;
$app-background-yellow: #F3F021;
$app-background-green: #d1f321;

/**
 * Brand color themes
 */
$app-green: #4caf50;
$app-red: #f44336;
$app-gray: #777;
$app-blue: $brand-primary;
$app-orange: $brand-secondary;
$app-grey: rgba(0, 0, 0, 0.54);
$app-text-color: rgba(0, 0, 0, 0.54);
